doctype html
html(data-ng-app='myApp')
  head
    title= title

    link(rel='stylesheet', href='/css/bootstrap.min.css')

    script(src='/js/angular.js')
    script(src='/js/jquery-2.0.3.min.js')
    script(src='/js/bootstrap.min.js')
    script(src='/js/dirPagination.js')
    script(src='/js/script.js')

    link(rel='stylesheet', href='/css/style.css')
  body
    block content