extends layout

block content

  .container
    .row
      .col-lg-8
        .my-controller(ng-controller="MyController")
          h1 Tasty Paginated Menu {{ hello }}

          small this is in "MyController"

          .row
            .col-xs-4
              h3 Meals Page: {{ currentPage }}
              br
              input(ng-model="currentPage" class="form-control" placeholder="Pagina")

            .col-xs-4
              label(for="search")
                Search
              input(ng-model="q" id="search" class="form-control" placeholder="Filter text")

            .col-xs-4
              label(for="search")
                items per page:
              input(type="number" min="1" max="100" class="form-control" ng-model="pageSize")

          br

          .panel panel-default
            .panel-body

              ul
                li(dir-paginate="meal in meals | filter:q | itemsPerPage: pageSize" current-page="currentPage")
                  {{ meal }}

        .other-controller(ng-controller="OtherController")
          small
            this is in "OtherController"

          .text-center
            dir-pagination-controls(boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="/pagination")
